<p>Gallery Id: {{ gallery_id }}</p>

{% if gallery == 'Call failed!'%}

  <p>Call failed!</p>

{% else %}

  <div class="slider multiple-items">

    {% for photo in gallery %}

      <div><img src="{{ photo }}"/></div>

    {% endfor %}

  </div>

{% endif %}
